<h1>About Page</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "http://via.placeholder.com/800x600", width: 300, alt: "Profile Image" %>
  </div>
  
  <div class="col-md-8">
    <p>Over 5 years of concurrent object-oriented programming with an end goal to create strong client and server sided applications and modifications.</p>
  </div>
</div>