<div class="inner cover">
	<h1 class="cover-heading">Welcome</h1>
	<p class="lead">A misplaced decimal point will always show up at where it does the most damage.</p>
	<p class="lead">
	  <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-outline-secondary' %>
	</p>
</div>